
.product-view-container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.filter-container{
    min-width: 252px;
    max-width: 252px;
    height: 100%;
    flex-grow: 0 !important;
}

.product-container{
    width: 100%;
    border-radius: 10px;
}

.product-item-container{
    flex-wrap: wrap;
}



.image-vertical-xs>img{
    width: 100%;
    height: 220px;
    object-fit: fill;
    border-radius: 5px;
}